body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

nav{
    background-color: aqua;
}

#sub-ctn1{
    width: 100%;
}
.flex-between{

    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
}


.cardsCtn{
    display: flex;
    justify-content: space-around;
    padding: 30px;

}
.card-ctn{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: 500px;
    width: 400px;
    margin: 10px;
}

.centerForm{
    text-align: center;
}

button{
    background: yellow;
    width: 30%;
    height: 50px;
    margin: auto;
}